// You can add global styles to this file, and also import other style files

body {
  margin-bottom: 10px;
  margin-top: 15px;
}

.input-group {
  margin-bottom: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
