<mat-toolbar id="toolbar">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a class="logo" routerLink="/">
        <img src="assets/logo.png" style="width: auto; height: 38px; margin-top: 10px;" />
      </a>
    </div>

    <div id="toolbar-separator"></div>

    <div>
      <a class="nav-link nav-link-padding" routerLink="/estimate" routerLinkActive="active_link">
        <mat-icon style="margin-right: 10px;" class="menu-icon">account_balance</mat-icon> Schätzen
      </a>
    </div>

    <div style="position: absolute; right: 30px;">
      <button mat-button (click)="openGithub()">Github</button>
    </div>

  </div>
</mat-toolbar>
