.estimator {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  margin-top: -15px;
  max-width: 98vw;
  //width: fit-content;
  margin: 0 auto;
}

.checkbox {
  margin: 10px;
}

mat-radio-group.asCard{
  margin-top: 20px;
  .mat-radio-container{
    opacity: 0;
  }

  .mat-radio-checked mat-card{
    border: 1px solid red;
  }
}

.slider{
  width: 300px;
}

.sliders{
  margin-top: 20px;
}

#resultButton{
  margin: 25px;
}

.result-section {
  margin: 15px;
  padding-bottom: 20px;
}
