
mat-radio-group.asCard{
  margin-top: 20px;
  .mat-radio-container{
    opacity: 0;
  }

  .mat-radio-checked mat-card{
    border: 1px solid red;
  }
}

.slider{
  width: 300px;
}

.sliders{
  margin-top: 20px;
}
